# Archivos de sistema macOS
.DS_Store
.CFUserTextEncoding
.bash_history
.bash_profile
.bash_sessions/
.zsh_history
.zsh_sessions/
.zprofile
.zshrc
.zcompdump
.viminfo
.lesshst

# Directorios personales
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Desktop/
Screenshots/

# Directorios y archivos de desarrollo
.anydesk/
.bun/
.cache/
.config/
.docker/
.gitkraken/
.gitmoji/
.local/
.ngrok/
.npm-global/
.npm/
.vscode/
node_modules/
bin/

# Archivos de configuración
.gitconfig
.gitconfig.save
.gitconfig.swp
.npmrc
.profile

# Directorios de proyectos (ajusta según lo que necesites ignorar)
../../../Dev Business Plan/
../../Ejercicio Final Git HTML CSS Screenshots/
../../Evaluacion semana 1 Web Development/
../../Git and GitHub*/
../../Gitmoji/
../../How to code step by step/
../../JS*/
../../JavaScript*/
../../React/
../../Ready Set*/
../../Software Architect/
../../Study Plan Web Development*/
../../Tasks Monday*/
../../Website Fer Sanz/
../../_repos*/
../../git practice*/
../../*practice*/
../../vet*/
../../tutorial-js/

# Archivos específicos (ajusta según tus necesidades)
../../Object properties.js
../../object practice.js
../../main.js
../../index.html
../../style.css
../../package.json
../../pnpm-lock.yaml

# Directorios específicos fuera del proyecto actual
../../../../branching-practice/
../../../../chatbot-ui/
../../../../design.css
../../../../index.html
../../../../javascript
../../../../my-project*/
../../../../my_project*/
../../../../my_work/
../../../../supabase/